{%- for job in jobs.query_result -%}
  {%- for template in templates.query_result -%}
    {%- if job.job_template_id==template.id -%}
      {%- for host_info in hosts_info.query_result -%}
        {%- if host_info.job_id==job.unifiedjob_ptr_id  -%}
{{template.name}},{{job.unifiedjob_ptr_id}},CREATED,{{host_info.host_name}},
          {%- if host_info.failures>0 -%}
Failure
            {%- else -%}
Success   
{% endif -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}
